<form class="container-sm p-4 my-5 bg-white">
    <h2>Campanhas de Vacinação</h2>

    <div class="col-md-4 my-3 px-0">
        <button type="button" class="btn btn-success entrar col-12">Cadastrar Campanha</button>
    </div>

    <div class="form-row align-items-center">
        <div class="form-group col-md-2">
            <label class="sr-only" for="idVacina">Vacina:</label>
            <input type="text" class="form-control mb-2" id="idVacina" placeholder="Vacina">
        </div>
        <div class="form-group col-md-2">
            <label class="sr-only" for="idInicio">Data Inicio:</label>
            <input type="date" class="form-control mb-2" id="idInicio" placeholder="Data">
        </div>
        <div class="form-group col-md-2">
            <label class="sr-only" for="idFinal">Data Final:</label>
            <input type="date" class="form-control mb-2" id="idFinal" placeholder="Data">
        </div>
        <div class="form-group col-md-2">
            <label class="sr-only" for="idLocal">Local:</label>
            <input type="text" class="form-control mb-2" id="idLocal" placeholder="Local">
        </div>

        <div class="form-group col-md-2 mb-4">
            <button type="button" class="btn btn-danger col-12">Remover</button>
        </div>

        <div class="form-group col-md-2 mb-4">
            <button type="button" class="btn btn-primary col-12">Editar</button>
        </div>
    </div>

    <div class="form-row align-items-center">
        <div class="form-group col-md-2">
            <label class="sr-only" for="idVacina">Vacina:</label>
            <input type="text" class="form-control mb-2" id="idVacina" placeholder="Vacina">
        </div>
        <div class="form-group col-md-2">
            <label class="sr-only" for="idInicio">Data Inicio:</label>
            <input type="date" class="form-control mb-2" id="idInicio" placeholder="Data">
        </div>
        <div class="form-group col-md-2">
            <label class="sr-only" for="idFinal">Data Final:</label>
            <input type="date" class="form-control mb-2" id="idFinal" placeholder="Data">
        </div>
        <div class="form-group col-md-2">
            <label class="sr-only" for="idLocal">Local:</label>
            <input type="text" class="form-control mb-2" id="idLocal" placeholder="Local">
        </div>

        <div class="form-group col-md-2 mb-4">
            <button type="button" class="btn btn-danger col-12">Remover</button>
        </div>

        <div class="form-group col-md-2 mb-4">
            <button type="button" class="btn btn-primary col-12">Editar</button>
        </div>
    </div>

    <div class="form-row align-items-center">
        <div class="form-group col-md-2">
            <label class="sr-only" for="idVacina">Vacina:</label>
            <input type="text" class="form-control mb-2" id="idVacina" placeholder="Vacina">
        </div>
        <div class="form-group col-md-2">
            <label class="sr-only" for="idInicio">Data Inicio:</label>
            <input type="date" class="form-control mb-2" id="idInicio" placeholder="Data">
        </div>
        <div class="form-group col-md-2">
            <label class="sr-only" for="idFinal">Data Final:</label>
            <input type="date" class="form-control mb-2" id="idFinal" placeholder="Data">
        </div>
        <div class="form-group col-md-2">
            <label class="sr-only" for="idLocal">Local:</label>
            <input type="text" class="form-control mb-2" id="idLocal" placeholder="Local">
        </div>

        <div class="form-group col-md-2 mb-4">
            <button type="button" class="btn btn-danger col-12">Remover</button>
        </div>

        <div class="form-group col-md-2 mb-4">
            <button type="button" class="btn btn-primary col-12">Editar</button>
        </div>
    </div>

</form>