<nav class="navbar navbar-dark sticky-top bg-success flex-md-nowrap p-0 shadow">

  <a style="background-color: #28a745 !important;" class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" *ngIf="service.temPermissao('DH01')" routerLinkActive="ativo"
    routerLink="/dashboard-admin">IMUNO</a>

  <a style="background-color: #28a745 !important;" class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" *ngIf="service.temPermissao('DH02')" routerLinkActive="ativo"
    routerLink="/vacinar">IMUNO</a>

  <a style="background-color: #28a745 !important;" class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" *ngIf="service.temPermissao('DH03')" routerLinkActive="ativo"
    routerLink="/caderneta">IMUNO</a>

  <ul class="nav justify-content-end ">
    <li class="nav-item text-nowrap">
      <a style="background-color: #28a745 !important;" class="nav-link text-white" *ngIf="service.temPermissao('DH03')" routerLinkActive="ativo"
        routerLink="/paciente/{{id}}"><i style="margin: 0 5px;" class="pi pi-cog"></i> {{usuario}}</a>
    </li>

    <li class="nav-item text-nowrap">
      <a style="background-color: #28a745 !important;" class="nav-link text-white" *ngIf="service.temPermissao('DH02')" routerLinkActive="ativo"
        routerLink="/funcionario/{{id}}"><i class="pi pi-cog"></i> {{usuario}}</a>
    </li>

    <li class="nav-item text-nowrap">
      <a style="background-color: #28a745 !important;" style="color: aliceblue;" href="javascript:;" class="nav-item nav-link" (click)="logout()"><i class="pi pi-sign-out"></i></a>
    </li>
  </ul>
</nav>
