<form class="container-sm p-4 my-5 bg-white">

    <h2>Cadastrar Lote de Vacinas</h2>

    <div class="form-group">
        <label for="idVacina" style="float: left;">Vacina:</label>
        <input type="text" class="form-control" id="idVacina">
    </div>

    <div class="form-group">
        <label for="idLote" style="float: left;">Número do lote:</label>
        <input type="text" class="form-control" id="idLote">
    </div>

    <div class="form-group">
        <label for="idAmpola" style="float: left;">Quantidade de Ampolas:</label>
        <input type="text" class="form-control" id="idAmpola">
    </div>

    <div class="form-group">
        <label for="idData" style="float: left;">Data:</label>
        <input type="date" class="form-control" id="idData">
    </div>

    <div class="form-group">
        <label for="idRecebido" style="float: left;">Profissional que Recebeu:</label>
        <input type="text" class="form-control" id="idRecebido">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="reset" class="btn btn-secondary entrar col-12">Limpar</button>
        </div>
        <div class="form-group col-md-6">
            <button routerLink="" type="submit" class="btn btn-success entrar col-12">Cadastrar</button>
        </div>
    </div>
</form>