<form class="container-sm p-4 mt-5 bg-white">

    <h2>Campanha de Vacinação</h2>

    <div class="form-group">
      <label for="idVacina" style="float: left;">Vacina:</label>
      <input type="text" class="form-control" id="idVacina">
    </div>

    <div class="form-row">
      <div class="form-group  col-md-6">
        <label for="idDataInicio" style="float: left;">Data de Início:</label>
        <input type="date" class="form-control" id="idDataInicio">
      </div>
      <div class="form-group  col-md-6">
        <label for="idDataTermino" style="float: left;">Data de Término:</label>
        <input type="date" class="form-control" id="idDataTermino">
      </div>

    </div>

    <div class="form-group">
        <label for="idCidade" style="float: left;">Cidade:</label>
        <input type="text" class="form-control" id="idCidade">
    </div>

    <div class="form-group">
        <label for="idEstado" style="float: left;">Estado:</label>
        <input type="text" class="form-control" id="idEstado">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <button type="reset" class="btn btn-secondary entrar col-12">Limpar</button>
      </div>
      <div class="form-group col-md-6">
        <button routerLink="" type="submit" class="btn btn-success entrar col-12">Cadastrar</button>
      </div>
    </div>
</form>

