h1 {
  text-align: center;
}

.btn-group {
  display: flex;
  justify-content: center !important;
  padding-bottom: 30px;
}
.entrar {
  background-color: var(--blue) !important;
  color: white !important;
}
.card-title{
  text-align: center;
  padding: 5% 5% 10%;
}

.btn-primary {
  color: #fff;
  background-color: #28a745 !important ;  
  border-color: #28a745;
  margin-top: 5%;
}


