<form class="container-sm p-4 mt-5 bg-white" [formGroup]="formulario" (ngSubmit)="cadastrar()">

  <h2>Cadastrar Funcionário</h2>

  <div class="form-group">
    <label for="nome" style="float: left;">Nome Completo:</label>
    <input type="text" class="form-control" id="nome" formControlName="nome" [class]="(submitted && formulario.get('nome').errors) ||
            (formulario.get('nome').errors && formulario.get('nome').dirty) ? 'is-invalid' :
            formulario.get('nome').dirty ? 'is-valid' : ''">
    <div *ngIf="formulario.get('nome').errors?.required" class="invalid-feedback">Nome é obrigatório</div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="cpf" style="float: left;">CPF:</label>
      <input type="test" class="form-control" id="cpf" formControlName="cpf" mask="999.999.999-99" [class]="(submitted && formulario.get('cpf').errors) ||
            (formulario.get('cpf').errors && formulario.get('cpf').dirty) ? 'is-invalid' :
            formulario.get('cpf').dirty ? 'is-valid' : ''">
      <div *ngIf="formulario.get('cpf').errors?.required" class="invalid-feedback">CPF é obrigatório</div>
    </div>
    <div class="form-group col-md-6">
      <label for="coren" style="float: left;">Número do COREN:</label>
      <input type="text" class="form-control" id="coren" formControlName="coren" [class]="(submitted && formulario.get('coren').errors) ||
            (formulario.get('coren').errors && formulario.get('coren').dirty) ? 'is-invalid' :
            formulario.get('coren').dirty ? 'is-valid' : ''">
      <div *ngIf="formulario.get('coren').errors?.required" class="invalid-feedback">COREN é obrigatório</div>
    </div>
  </div>
  <div class="form-group">
    <label for="logradouro">Logradouro:</label>
    <input type="text" class="form-control" id="logradouro" formControlName="logradouro" [class]="(submitted && formulario.get('logradouro').errors) ||
            (formulario.get('logradouro').errors && formulario.get('logradouro').dirty) ? 'is-invalid' :
            formulario.get('logradouro').dirty ? 'is-valid' : ''">
    <div *ngIf="formulario.get('logradouro').errors?.required" class="invalid-feedback">Logradouro é obrigatório</div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="numero">Número:</label>
      <input type="number" class="form-control" id="numero" min="1" formControlName="numero" [class]="(submitted && formulario.get('numero').errors) ||
            (formulario.get('numero').errors && formulario.get('numero').dirty) ? 'is-invalid' :
            formulario.get('numero').dirty ? 'is-valid' : ''">
      <div *ngIf="formulario.get('numero').errors?.required" class="invalid-feedback">Número é obrigatório</div>
    </div>
    <div class="form-group col-md-4">
      <label for="complemento">Complemento:</label>
      <input type="text" class="form-control" id="complemento" formControlName="complemento" [class]="(submitted && formulario.get('complemento').errors) ||
            (formulario.get('complemento').errors && formulario.get('complemento').dirty) ? 'is-invalid' :
            formulario.get('complemento').dirty ? 'is-valid' : ''">
      <div *ngIf="formulario.get('complemento').errors?.required" class="invalid-feedback">Complemento é obrigatório
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="bairro">Bairro:</label>
      <input type="text" class="form-control" id="bairro" formControlName="bairro" [class]="(submitted && formulario.get('bairro').errors) ||
            (formulario.get('bairro').errors && formulario.get('bairro').dirty) ? 'is-invalid' :
            formulario.get('bairro').dirty ? 'is-valid' : ''">
      <div *ngIf="formulario.get('bairro').errors?.required" class="invalid-feedback">Bairro é obrigatório</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="cidade">Cidade:</label>
      <input type="text" class="form-control" id="cidade" formControlName="cidade" [class]="(submitted && formulario.get('cidade').errors) ||
            (formulario.get('cidade').errors && formulario.get('cidade').dirty) ? 'is-invalid' :
            formulario.get('cidade').dirty ? 'is-valid' : ''">
      <div *ngIf="formulario.get('cidade').errors?.required" class="invalid-feedback">Cidade é obrigatório</div>
    </div>
    <div class="form-group col-md-2">
      <label for="estado">Estado:</label>
      <input type="text" class="form-control" id="estado" formControlName="estado" [class]="(submitted && formulario.get('estado').errors) ||
            (formulario.get('estado').errors && formulario.get('estado').dirty) ? 'is-invalid' :
            formulario.get('estado').dirty ? 'is-valid' : ''">
      <div *ngIf="formulario.get('estado').errors?.required" class="invalid-feedback">Estado é obrigatório</div>

    </div>
    <div class="form-group col-md-4">
      <label for="cep">CEP:</label>
      <input type="text" class="form-control" id="cep" formControlName="cep" [class]="(submitted && formulario.get('cep').errors) ||
            (formulario.get('cep').errors && formulario.get('cep').dirty) ? 'is-invalid' :
            formulario.get('cep').dirty ? 'is-valid' : ''">
      <div *ngIf="formulario.get('cep').errors?.required" class="invalid-feedback">CEP é obrigatório</div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="email">E-mail:</label>
      <input type="email" class="form-control" id="email" formControlName="email" [class]="(submitted && formulario.get('email').errors) ||
            (formulario.get('email').errors && formulario.get('email').dirty) ? 'is-invalid' :
            formulario.get('email').dirty ? 'is-valid' : ''">
      <div *ngIf="formulario.get('email').errors?.email" class="invalid-feedback">Digite um e-mail válido</div>
      <div *ngIf="formulario.get('email').errors?.required" class="invalid-feedback">E-mail é obrigatório</div>
    </div>
    <div class="form-group col-md-4">
      <label for="telefone">Telefone:</label>
      <input type="tel" class="form-control" id="telefone" formControlName="telefone" mask="(99)99999-9999" [class]="(submitted && formulario.get('telefone').errors) ||
            (formulario.get('telefone').errors && formulario.get('telefone').dirty) ? 'is-invalid' :
            formulario.get('telefone').dirty ? 'is-valid' : ''">
      <div *ngIf="formulario.get('telefone').errors?.required" class="invalid-feedback">Telefone é obrigatório</div>
    </div>
    <div class="form-group col-md-4">
      <label for="telefoneEmergencia">Telefone de Emergência:</label>
      <input type="tel" class="form-control" id="telefoneEmergencia" formControlName="telefoneEmergencia"
        mask="(99)99999-9999" [class]="(submitted && formulario.get('telefoneEmergencia').errors) ||
            (formulario.get('telefoneEmergencia').errors && formulario.get('telefoneEmergencia').dirty) ? 'is-invalid' :
            formulario.get('telefoneEmergencia').dirty ? 'is-valid' : ''">
      <div *ngIf="formulario.get('telefoneEmergencia').errors?.required" class="invalid-feedback">Telefone de Emergencia
        é
        obrigatório</div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="senha">Senha:</label>
      <input type="password" class="form-control" id="senha" formControlName="senha" [class]="(submitted && formulario.get('senha').errors) ||
            (formulario.get('senha').errors && formulario.get('senha').dirty) ? 'is-invalid' :
            formulario.get('senha').dirty ? 'is-valid' : ''">
      <div *ngIf="formulario.get('senha').errors?.required" class="invalid-feedback">Senha é obrigatória</div>
    </div>
    <div class="form-group col-md-6">
      <label for="confirmacaoSenha">Confirmação de Senha:</label>
      <input type="password" class="form-control" id="confirmacaoSenha" formControlName="confirmacaoSenha" [class]="(submitted && formulario.get('confirmacaoSenha').errors) ||
            (formulario.get('confirmacaoSenha').errors && formulario.get('confirmacaoSenha').dirty) ||
            (senhasDiferentes()) ? 'is-invalid' :
            (formulario.get('confirmacaoSenha').dirty && senhasIguais()) ? 'is-valid' : ''">
      <div *ngIf="formulario.get('confirmacaoSenha').errors?.required" class="invalid-feedback">A confirmação da senha é
        obrigatória</div>
      <div *ngIf="senhasDiferentes()" class="invalid-feedback">A confirmação da senha precisa ser igual a senha</div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <button type="reset" class="btn btn-secondary entrar col-12">Limpar</button>
    </div>
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-success entrar col-12">Cadastrar</button>
    </div>
  </div>

</form>
