<!-- <app-header [caminho]="1" [caminhoLogout]="1"></app-header> -->

<div class="container">
  <div class="container-sm p-4 mt-5 bg-white">
    <h2 style="text-align: center; margin-top: 20px;">Caderneta de Vacinação</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Vacina</th>
          <th scope="col">Dose</th>
          <th scope="col">Data da aplicação</th>
          <th scope="col">Local</th>
          <th scope="col">Rúbrica</th>
          <th scope="col">Lote</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vacina of vacinas">
          <th scope="row">{{vacina.vacina.nome}}</th>
          <td *ngIf="vacina.dose == 'DOSEUNICA'">Dose única</td>
          <td *ngIf="vacina.dose == 'PRIMEIRADOSE'">1° Dose</td>
          <td *ngIf="vacina.dose == 'SEGUNDADOSE'">2° Dose</td>
          <td *ngIf="vacina.dose == 'TERCEIRAADOSE'">3° Dose</td>
          <td *ngIf="vacina.dose == 'REFORCO'">Reforço</td>
          <td type="date">{{vacina.dataVacinacao}}</td>
          <td>{{vacina.posto.nome}}</td>
          <td>{{vacina.funcionario.nome}}</td>
          <td>{{vacina.lote.codigo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
