<div class="container-sm p-4 mt-5 bg-white">
  <h2 style="text-align: center; margin-top: 20px;">Caderneta de Vacinação</h2>
  <div class="notificações">
      Notificações de campanha
  </div>

  <h2>Histórico de vacinas</h2>
  <div class="form-group">
      <label for="idVacina" style="float: left;">Buscar Vacinas:</label>
      <input type="text" class="form-control" id="idVacina">
  </div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Vacina</th>
          <th scope="col">Data da aplicação</th>
          <th scope="col">Local</th>
          <th scope="col">Rúbrica</th>
          <th scope="col">Lote</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Poliomelite</th>
          <td type="date">10/02/2020</td>
          <td>São Paulo</td>
          <td>Márcia</td>
          <td>57239</td>
        </tr>
        <tr>
          <th scope="row">Pneumo 23</th>
          <td type="date">10/12/2019</td>
          <td>São Paulo</td>
          <td>Márcia</td>
          <td>59842</td>
        </tr>
        <tr>
          <th scope="row">Tríplice Viral</th>
          <td type="date">23/05/2020</td>
          <td>São Paulo</td>
          <td>Márcia</td>
          <td>47823</td>
        </tr>
        <tr>
          <th scope="row">COVID-19</th>
          <td type="date">19/09/2020</td>
          <td>São Paulo</td>
          <td>Márcia</td>
          <td>17264</td>
        </tr>
      </tbody>
    </table>

  <h2>Reforço das vacinas</h2>
  <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">Vacina</th>
              <th scope="col">Data da aplicação</th>
              <th scope="col">Local</th>
              <th scope="col">Rúbrica</th>
              <th scope="col">Lote</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">Poliomelite</th>
              <td type="date">10/02/2021</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
          </tr>
          <tr>
              <th scope="row">Pneumo 23</th>
              <td type="date">10/12/2021</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
          </tr>
          <tr>
              <th scope="row">Tríplice Viral</th>
              <td type="date">23/05/2021</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
          </tr>
      </tbody>
  </table>
</div>
