<form class="container-sm p-4 mt-5  bg-white">
    <!-- <div class="row row-cols-1 row-cols-md-3 mt-4">
        <div class="col mb-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Funcionários</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Pacientes</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                   <h5 class="card-title" style="text-align: center;">Vacinas</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">Camapanhas de Vacinação</h5>
                  
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">Vacinar</h5>
                  
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">Notícias</h5>
                </div>
            </div>
        </div>
    </div> -->
    <div class="form-row">
        <button type="button" class="btn btn-success btn-lg btn-block mb-2">Cadastrar Paciente</button>
        <button type="button" class="btn btn-success btn-lg btn-block mb-2">Vacinar</button>
        <button type="button" class="btn btn-success btn-lg btn-block mb-2">Cadastrar Lote de Vacina</button>
        <button type="button" class="btn btn-success btn-lg btn-block">Campanha de Vacinação</button>
    </div>    
</form>

