/* You can add global styles to this file, and also import other style files */
body {
  background-color: gainsboro;
}
.container {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
}
