:root{
  --cor-padrao-fundo: #e8e3e3;
}

body {
  background-color: var(--cor-padrao-fundo);
}

.container {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
